<br>
<br>
<br>
<div class="container">
  <div class="ui-g dashboard">
    <div class="ui-g-12 ui-lg-4">
        <div class="task-box task-box-3">
            <div class="task-box-header"></div>
            <div class="task-box-header"></div>
            <div class="task-box-header"></div>
            <div class="task-box-content">
                <h3>Produtos</h3>
                <p>Produtos cadastrados</p>
            </div>
            <div class="task-box-footer">
                <h3 style="text-align: center;">{{quantidade}}</h3>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-4">
        <div class="task-box task-box-2">
            <div class="task-box-header">
                <i class="material-icons">refresh</i>
            </div>
            <div class="task-box-content">
                <h3>Sale Reports</h3>
                <p>Annual reports per branch</p>
            </div>
            <div class="task-box-footer">
                <span class="task-status">IN PROGRESS</span>
                <img src="assets/layout/images/avatar2.png">
                <img src="assets/layout/images/avatar3.png">
                <img src="assets/layout/images/avatar4.png">
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-4">
        <div class="task-box task-box-3">
            <div class="task-box-header">
                <i class="material-icons">refresh</i>
            </div>
            <div class="task-box-content">
                <h3>Marketing Meeting</h3>
                <p>Marketing meeting to review sales.</p>
            </div>
            <div class="task-box-footer">
                <span class="task-status">ON HOLD</span>
                <img src="assets/layout/images/avatar1.png">
                <img src="assets/layout/images/avatar2.png">
                <img src="assets/layout/images/avatar3.png">
            </div>
        </div>
    </div>

    <div class="ui-g-12 ui-md-3">
        <div class="overview-box overview-box-1">
            <div class="overview-box-header"></div>
            <div class="overview-box-content">
                <div class="overview-box-icon"><i class="material-icons">inbox</i></div>
                <div class="overview-box-title">Messages</div>
                <div class="overview-box-count">152</div>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-3">
        <div class="overview-box overview-box-2">
            <div class="overview-box-header"></div>
            <div class="overview-box-content">
                <div class="overview-box-icon"><i class="material-icons">person_pin_circle</i></div>
                <div class="overview-box-title">Check-Ins</div>
                <div class="overview-box-count">532</div>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-3">
        <div class="overview-box overview-box-3">
            <div class="overview-box-header"></div>
            <div class="overview-box-content">
                <div class="overview-box-icon"><i class="material-icons">insert_drive_file</i></div>
                <div class="overview-box-title">Files Sycned</div>
                <div class="overview-box-count">28</div>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-3">
        <div class="overview-box overview-box-4">
            <div class="overview-box-header"></div>
            <div class="overview-box-content">
                <div class="overview-box-icon"><i class="material-icons">supervisor_account</i></div>
                <div class="overview-box-title">Users Online</div>
                <div class="overview-box-count">256</div>
            </div>
        </div>
    </div>
  </div>
</div>
