/* You can add global styles to this file, and also import other style files */
.layout-wrapper .layout-main .layout-topbar .topbar-logo {
  display: none; }

  @media (min-width: 1200px) {
    .container {
      width: 1170px;
     margin: 0 auto;
    }
  }
